---
import Breadcrumbs from '@/components/breadcrumbs.astro'
import Link from '@/components/link.astro'
import PageHead from '@/components/page-head.astro'
import Layout from '@/layouts/layout.astro'
---

<Layout class="max-w-3xl">
  <PageHead slot="head" title="About" />
  <Breadcrumbs items={[{ label: 'About', icon: 'lucide:info' }]} />

  <section>
    <div class="min-w-full">
      <div class="prose mb-8 text-muted-foreground">
        <p class="mt-0">
          I'm n4n4s1, a student from University of Information Technology (VNU-UIT). I won't call myself a Reverse Engineer, 'cause I still suck at this.
        </p>
        <p>
          Been playing CTFs/Wargame challenges since November 2024. Currently, I'm highly focused on Android and kernel reversing. I also play CTFs with my teams: <Link href="https://ctftime.org/team/280950/" external underline class="text-foreground font-medium">V1t</Link> and <Link href="https://ctftime.org/team/28797" external underline class="text-foreground font-medium">PwnSec</Link>.
        </p>
        <p>
          You can reach me on Discord: <span class="font-medium text-foreground">dr34mch4s3r</span>
        </p>
      </div>

      <h2 class="mb-4 text-2xl font-medium text-foreground">My playlist</h2>
      <p class="mb-4 text-muted-foreground">
        My hobby is really simple, just listening to music, here's my playlist if u love to check
      </p>
      
      <div class="mt-4">
        <iframe 
          style="border-radius:12px" 
          src="https://open.spotify.com/playlist/2FZJoB35XnCGw15G5Kbzfq?si=39e8085243b348c5" 
          width="100%" 
          height="352" 
          frameborder="0" 
          allowfullscreen="" 
          allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" 
          loading="lazy">
        </iframe>
      </div>
    </div>
  </section>
</Layout>